.Rproj.user
.Rhistory
.RData
.Ruserdata

data
data/

data/**/*.pdf
data/**/*.csv
data/**/*.xlm
data/**/*.xlsx

data/*.pdf
data/*.csv
data/*.xlm
data/*.xlsx

Exposome_databases
Exposome_databases/

data_20200302
data_20200302/

data_20200511
data_20200511/

manuscript
manuscript/

summary
summary/

data_analysis/*.pdf
data_analysis/*.csv
data_analysis/*.ai
data_analysis/*.xlsx
data_analysis/*.png

data_analysis/**/*.pdf
data_analysis/**/*.csv
data_analysis/**/*.ai
data_analysis/**/*.xlsx
data_analysis/**/*.png
